.container{
    width: 370px;
    height: 400px;
    margin: 40px;
    background: #F8FAFC;
    border-radius: 25px;
}

.image {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 20px auto;
}