.container{
    width: 370px;
    height: 400px;
    margin: 40px;
    background: #F8FAFC;
    border-radius: 25px;
}

.image-line {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.775);
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    height: auto;
    width: auto;
    position: relative;
    transition: all .4s ease-in-out;
    object-fit: cover;
}

.image:hover {
    cursor: pointer;
    
}